@import '_vars';
@import '_mixins';
@import '_fonts';
@import '_reset';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

html, body {
  height: 100vh;
  overflow-x: hidden;
}

html {
  $min-width: 320px;
  $max-width: 1400px;
  $min-font: 12px;
  $max-font: 19px;
  @include fluid-type($min-width, $max-width, $min-font, $max-font);
}

h1 {
  @extend %heading-1;
}

h2 {
  @extend %heading-2;
}

h3 {
  @extend %heading-3;
}

a,
input,
textarea,
code,
tt,
pre,
span,
p,
button {
  @extend %heading-4;
}

a {
  cursor: pointer;
}

button {
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}