@import '_vars';
@import '_mixins';
@import '_fonts';
@import '_reset';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

html, body {
  height: 100vh;
  overflow-x: hidden;
}

html {
  $min-width: 320px;
  $max-width: 1400px;
  $min-font: 12px;
  $max-font: 20px;
  @include fluid-type($min-width, $max-width, $min-font, $max-font);
}

body,
a,
input,
textarea,
code,
tt,
pre {
  // @extend %primary-font;
}