@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700|Teko:300:400');

%primary-font {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 'Teko';
}

%secondary-font {
  font-family: 'Roboto Mono', monospace;
}