// Media Queries Breakpoints (cf. 'main.js' vue-mq installation)
// Small devices (landscape phones, 576px and up)
$small: 576px;

// Medium devices (tablets, 768px and up)
$medium: 768px;

// Large devices (laptop, 992px and up)
$large: 992px;

// Extra large devices (desktops, 1200px and up)
$extraLarge: 1200px;

// 🐟 (large desktops, 1200px and up)
$thatsbig: 1440px
